@model ControlStock.Models.Marca

@{
    ViewData["Title"] = "Agregar";
}

<h1>Agregar Marcas</h1>

<h4>Marca</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" value="@(ViewBag.UserId)" />            
            <div class="form-group">
                <label asp-for="IdRubro" class="control-label">Rubro
                    <span data-bs-toggle="tooltip" data-bs-title="Agregar Rubro">
                    <a asp-controller="Rubroes" asp-action="Create" class="align-self-center fa fa-plus-circle" style="text-decoration: none;"></a>
                </span>
                </label>
                <select asp-for="IdRubro" class="form-control" asp-items="ViewBag.IdRubro">
                    <option>Seleccione un rubro</option>
                </select>
                <span asp-validation-for="IdRubro" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="MarcaName" class="control-label">Nombre de la Marca</label>
                <input asp-for="MarcaName" class="form-control" autocomplete="off"/>
                <span asp-validation-for="MarcaName" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
