@model ControlStock.Models.Marca

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar Marca</h1>

<h3>Esta Seguro de que desea borrar esta Marca?</h3>
<div>
    <h4>Marca</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarcaName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarcaName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rubro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rubro.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdMarca" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al Listado</a>
    </form>
</div>
