@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="fs-1">Sistema de Control de Stock </h1>
    <div style ="height:65vh;          
            background-image: url('images/abstract-blur-furniture-decoration-warehouse-store.jpg');
           /*  background-image: url('images/beautiful-cryptocurrwncy-concept.jpg'); */
            /* background-image: url('images/stock-market-chart-technology-blue-background.jpg'); */
           /*  background-image: url('images/stock-trading-workplace-background.jpg');  */
            background-size: cover;
            background-position: center;">

    </div>
    @* <img src="~/cabecera.jpg"   /> *@
</div>
