@page
@model LockoutModel
@{
    ViewData["Title"] = "Cuenta Eliminada";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Esta cuenta ha sido elliminada, por favor comuniquese con un Administrador.</p>
</header>
