body {
    width: 210mm; /* A4 width */
    height: 275mm; /* A4 height */
    background-image: url('../images/fondo.jpg'); /* Ruta relativa de la imagen de fondo */
    background-repeat: repeat;
    background-position: top left; /* Alinea la imagen al principio de la página */
    background-size: 100% 100%;
    margin: 0px;
    padding: 0;
    font-family: Arial, sans-serif; /* Ajuste de la fuente para el PDF */
    position: relative; /* Necesario para que el footer se posicione correctamente */
    font-size: smaller;
}

.report-container {
    padding: 0 20mm 0 20mm; /* Ajuste según sea necesario */
    padding-bottom: 50px; /* Da espacio al footer al final del contenido */
}

.footer {
    
    bottom: 0;
    width: 100%;
    text-align: center;
   
}

h2, p {
    color: #000; /* Color del texto */
}

.tables {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    padding: 0 0.5rem 0 0.5rem !important;
}

.tables th, .tables td {
    border: 1px solid #ddd;
    text-align: left;
    padding-inline:0.5rem
}

.tables th {
    background-color: #f2f2f2;
}

.otherTable th {
    border:none;
}

dl {
    border-collapse: collapse;
    border: 1px solid #ddd;
}

dt, dd {
    border: 1px solid #ddd;
    text-align: left;
    margin-bottom: 0 !important;
    align-content:center;
}

.col-3 hr {
    margin: 0.2rem 0 !important;
}


